hailort.log
ROADMAP.md
.opencode/
architecture/
.mypy_cache
.pytest_cache
.vscode
var/
.python-version
catyolo_ai_frontend/__pycache__/serve.cpython-313.pyc
catyolo_ai_frontend/__pycache__/serve.cpython-313.pyc
